async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
cloudscraper
pycryptodome
pyrogram
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp
motor
aiohttp
aiofiles
pytz
umongo
speedtest-cli
m3u8
